nav {
    @include clearfix;
    background-color: $color-background;
    padding: 2rem;
  
    button {
          padding: 2rem; 
          text-decoration: none;
          text-align: center;
          font-size: 1.5rem;
          display: block;
          float: left;
          background-color: $color_black;
          border: 0;
          color: $color_white;
          text-transform: uppercase;
          width: calc((100% - 2rem) / 2);
          outline: none;
          cursor: pointer;

          &:first-child{
              margin-right:2rem;
          }

          @media (max-width: 37.5em) { // 600px
            width: calc(100%);
            &:last-child {
                margin-top: 2rem;
            }
          }
  
          &.active {
              color: $color-button-active;
          }
      }
  }